@use '../index.scss' as *;

.flex-column {
  display: flex;
  flex-direction: column;
}

.margin-auto {
  margin-top: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.w50 {
  max-width: 50%;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

@media screen and (max-width: $mobile) {
  .w50 {
    max-width: 100%;
  }

  .mobile {
    flex-direction: column;
  }
}

.gap {
  gap: var(--space-md);
}

.mobile {
  gap: var(--space-md);
}

.center {
  justify-content: center;
  align-items: center;
}

.stretch {
  align-items: stretch;
}

.space {
  justify-content: space-between;
}

.margin-md {
  margin-bottom: var(--space-md);
}